.font-style{
    font-size: 15px;
    white-space: nowrap;
}
.form_div{
    margin-top: 50px;

}
.reset-btn{
    margin-left: 30px;
}
.btn{
    width: 150px;
}
.align-label{
    margin-left: 128px; 
}
.align-label-p{
    margin-left: 100px; 
}